<div class="text-center col-12 mt-5">
    <h2>LIFESTYLE</h2>
       <p>Encuentra productos increíbles diseñados para ti</p>
</div>


<div class="card-group">
    <div class="card m-3 border-0 tarjetaproducto" *ngFor="let producto of ProductosDestacados">
        <div class="container" *ngIf="mostrar==false" >
            <img [src]="producto.img" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text" (click)="GetIdToChangeScreen(producto.id)">Detalles</div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">{{producto.product}}</h5>
        <p class="card-text">${{producto.price}}</p>
      </div>
    </div>
  </div>
