.fondo{
    width: 100%;
    height: 100vh;
    background-image: url(../../../../assets/img/boss.jpg);
    background-attachment: fixed;
   background-size: cover;
  }
.jumbotron{
    height: 80vh;
    background: #F1D5CF;
}

.row{
    height: 100%;
}
a{
    display: block;
    text-decoration: none;
    color: #000000;
}