<div class="jumbotron m-0">
    <div class="row justify-content-center align-items-center">
        <div class="col-4 offset-md-2">
            <h1>NUESTRAS UBICACIONES</h1>
            <div class="linea my-3"></div>
            <p style="max-width: 300px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, inventore.
                Accusamus deserunt quisquam
                earum qui molestias id voluptatum ea dolorum natus totam consequatur porro, a laudantium at maxime ad
                mollitia!</p>
        </div>
        <div class="col">
            <div class="row">

                <div class="col-3 border-bottom border-dark m-3 pb-3">
                    <h5>La reyna</h5>
                    <p>500 Terry Francois Street
                        San Francisco, CA 94158
                    </p>
                    <a href="tel:44922234433"> Tel: 123-456-7890</a>
                    <a href="mailto:hola@buenavibra.com">hola@buenavibra.com</a>
                </div>
                <div class="col-3 border-bottom border-dark m-3 pb-3">
                    <h5>El rey</h5>
                    <p>500 Terry Francois Street
                        San Francisco, CA 94158
                    </p>
                    <a href="tel:44922234433"> Tel: 123-456-7890</a>
                    <a href="mailto:hola@buenavibra.com">hola@buenavibra.com</a>
                </div>

            </div>
            <div class="row">

                <div class="col-3 border-bottom border-dark m-3 pb-3">
                    <h5>Cashback</h5>
                    <p>500 Terry Francois Street
                        San Francisco, CA 94158
                    </p>
                    <a href="tel:44922234433"> Tel: 123-456-7890</a>
                    <a href="mailto:hola@buenavibra.com">hola@buenavibra.com</a>
                </div>
                <div class="col-3 border-bottom border-dark m-3 pb-3">
                    <h5>Insane</h5>
                    <p>500 Terry Francois Street
                        San Francisco, CA 94158
                    </p>
                    <a href="tel:44922234433"> Tel: 123-456-7890</a>
                    <a href="mailto:hola@buenavibra.com">hola@buenavibra.com</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="fondo"></div>