<div class="jumbotron row col-12 m-0">
    <div class="col-12 col-sm-2 text-center"><img src="../../../../assets/img/sector1.png" alt=""></div>
    <div class="col-12 col-sm-8 text-center">
        <h3>Suscríbete a nuestro newsletter</h3>
        <h2 class="my-4">RECIBE PROMOCIONES EXCLUSIVAS</h2>
        <button class="btn btn-outline-dark rounded-0 col-12 col-sm-6 col-md-2">Sign Up</button>
    </div>
    <div class="col-12 col-sm-2 text-center"><img src="../../../../assets/img/sector2.png" alt=""></div>
</div>