<div class="fondo" style="background: url(../../../assets/img/portada.jpg); background-size: cover; background-repeat: no-repeat; background-position: right;">
    <div class="container">
      <div class="row">
        <div class="mt-5 col-md-12 col-12">
            <div class="col-md-3 offset-md-1 mt-5">
                <h1 class="display-5 font-weight-heavy">VISTE BIEN SIENTETE BIEN</h1>
                <p class="lead font-weight-light">Moda para usar, creatividad para expresar.</p>
                <div class="linea"></div>
                <a class="btn btn-outline-dark rounded-0" routerLink="productos" >Comprar ahora</a>
              </div>
        </div>
      </div>
    </div>
  </div>