<div class="text-center col-12 mt-5">
    <h2>COLECCIONES</h2>
    <div class="linea mx-auto my-3"></div>
       <p>Encuentra productos increíbles diseñados para ti</p>
</div>


<div class="card-group">
    <div class="card m-3 border-0" routerLink="producto-detalle/:id">
        <div class="container">
            <img src="../../../../assets/img/tote1.png" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text">Detalles</div></div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">Bolsa grande</h5>
        <p class="card-text">$100</p>
      </div>
    </div>
    <div class="card m-3 border-0">
        <div class="container">
            <img src="../../../../assets/img/tote2.png" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text">Detalles</div></div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">Bolsa grande</h5>
        <p class="card-text">$100</p>
      </div>
    </div>
    <div class="card m-3 border-0">
        <div class="container">
            <img src="../../../../assets/img/tote1.png" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text">Detalles</div></div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">Bolsa grande</h5>
        <p class="card-text">$100</p>
      </div>
    </div>
    <div class="card m-3 border-0">
        <div class="container">
            <img src="../../../../assets/img/tote2.png" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text">Detalles</div></div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">Bolsa grande</h5>
        <p class="card-text">$100</p>
      </div>
    </div>
 
  </div>

<div class="card-group">
    <div class="card m-3 border-0">
        <div class="container">
            <img src="../../../../assets/img/tote1.png" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text">Detalles</div></div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">Bolsa grande</h5>
        <p class="card-text">$100</p>
      </div>
    </div>
    <div class="card m-3 border-0">
        <div class="container">
            <img src="../../../../assets/img/tote2.png" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text">Detalles</div></div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">Bolsa grande</h5>
        <p class="card-text">$100</p>
      </div>
    </div>
    <div class="card m-3 border-0">
        <div class="container">
            <img src="../../../../assets/img/tote1.png" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text">Detalles</div></div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">Bolsa grande</h5>
        <p class="card-text">$100</p>
      </div>
    </div>
    <div class="card m-3 border-0">
        <div class="container">
            <img src="../../../../assets/img/tote2.png" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text">Detalles</div></div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">Bolsa grande</h5>
        <p class="card-text">$100</p>
      </div>
    </div>
 
  </div>

<div class="card-group">
    <div class="card m-3 border-0">
        <div class="container">
            <img src="../../../../assets/img/tote1.png" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text">Detalles</div></div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">Bolsa grande</h5>
        <p class="card-text">$100</p>
      </div>
    </div>
    <div class="card m-3 border-0">
        <div class="container">
            <img src="../../../../assets/img/tote2.png" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text">Detalles</div></div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">Bolsa grande</h5>
        <p class="card-text">$100</p>
      </div>
    </div>
    <div class="card m-3 border-0">
        <div class="container">
            <img src="../../../../assets/img/tote1.png" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text">Detalles</div></div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">Bolsa grande</h5>
        <p class="card-text">$100</p>
      </div>
    </div>
    <div class="card m-3 border-0">
        <div class="container">
            <img src="../../../../assets/img/tote2.png" class="card-img-top" alt="...">
            <div class="overlay text-center"><div class="text">Detalles</div></div>
        </div>
      <div class="card-body text-center">
        <h5 class="card-title">Bolsa grande</h5>
        <p class="card-text">$100</p>
      </div>
    </div>
 
  </div>