<div class="container p-5">
    <h6>Home/ {{producto.product}}</h6>
    <div class="row mt-5">
        <div class="col"><img class="col border border-dark" [src]="producto.img" alt=""></div>
        <div class="col">
            <ul style="list-style: none;">
                <li>
                    <h4>{{producto.product}}</h4>
                </li>
                <li><div id="color1"></div>
                    
                    
                </li>
                <li class="text-secondary">
                    SKU:00{{producto.id}}
                </li>
                <li class="my-3">
                    ${{producto.price}}
                </li>
                <li><div class="color1"></div></li>
                <li class="text-secondary mb-2">Cantidad</li>
                <li>
                    <input type="number" style="width: 6em;" class="py-2 my-3">
                </li>
                <li>
                    <button class="btn btn-dark my-3 col-9 rounded-0">Agregar al carrito</button>
                </li>
                <li class="p-0 border-bottom border-dark col-9">
                    <button
                        class="btn col-9 info text-left m-0 pl-0 py-3 d-flex bd-highlight accordion">
                        <div class="py-2 w-100 bd-highlight"> Información de productos </div>
                        <div class="py-2 flex-shrink-1 bd-highlight">+</div>
                        </button>
                        <p class="col-block">{{producto.description}}</p>
                </li>
            </ul>
        </div>



    </div>
</div>