.fondo{
    width: 100%;
    height: 100vh;
    background-image: url(../../../../assets/img/juicio.jpg);
    background-attachment: fixed;
   background-size: cover;
  }
.jumbotron{
    height: 80vh;
    background: #F4EBE2;
}

.row{
    height: 100%;
}