<div class="fondo"></div>
<div class="jumbotron">
    <div class="row justify-content-center align-items-center">
    <div class="col offset-md-2">
        <h1>SOMOS</h1>
        <div class="linea"></div>
        <img src="../../../../assets/img/sector1.png" alt="">
        <img src="../../../../assets/img/sector2.png" alt="">
    </div>
    <div class="col" >
        <p style="min-width: 100px; max-width: 300px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sunt dolores sint iusto? Inventore
            molestiae nostrum hic facere dolore quae. Expedita error maiores ipsam fugiat placeat aliquam totam rerum
            unde.Consequatur distinctio sit aut nisi maxime quae aperiam iure tempora? Voluptas beatae, recusandae
            libero, qui fugiat ipsa dolore, quod asperiores ducimus quam quis ratione eos molestiae quae sapiente
            pariatur excepturi.</p>
    </div>
</div>
</div>
