*{
    font-family:'Open Sans',sans-serif;
}

img{
    height: 20px;
    margin: 15px;
}
input{
    font-size: smaller;
padding-left: 20px;
}

button{
    background: #000;
}
button:hover{
    background: #ffff;
    color: #000000;
    transition: .5s;
}

.creditos{
    font-size: smaller;
}

li:nth-child(1){
    font-weight:bolder;
}

