<div class="col-12">
    <div class="row mt-5">

        <div class="col-4 text-center mt-5">
            <ul class="list-unstyled">
                <li class="font-weight-bold">Síguenos en:</li>
                <li class="mt-3">
                    <a href="https://www.pinterest.com/estudiolibremx"  target="_blank"><img src="../../../../assets/img/pinterest.svg" alt=""></a>
                    <a href="https://www.facebook.com/estudiolibremx"  target="_blank"><img src="../../../../assets/img/facebook.svg" alt=""></a>
                    <a href="https://www.instagram.com/estudiolibremx"  target="_blank"><img src="../../../../assets/img/instagram.svg" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="col-4 text-center mt-5">
            <ul class="list-unstyled">
                <li>Enterate de nuestros nuevos lanzamientos</li>
                <li class="align-middle mt-3">
                    <input class="align-middle  pr-5" type="text" placeholder="Enter your email here*" style="height: 40px;">
                    <button class="btn btn-dark rounded-0 m-3 pl-5 pr-5">Suscribirse</button>
                </li>
                <li class="creditos mt-5">© TA C O S - C O D E L L E G E 2020</li>
            </ul>
        </div>
        <div  class="col-4 text-center mt-5">
            <ul class="list-unstyled">
                <li>Contáctanos</li>
                <li class="creditos mt-3">123-456-7890  |  hola@oregano.design</li>
            </ul>
        </div>
    </div>
</div>