*{
    font-family:'futura',sans-serif;
}

img{
    height: 20px;
    margin: 15px;
}
input{
    font-size: smaller;
padding-left: 20px;
}

button{
    background: #000;
}

.creditos{
    font-size: smaller;
}

li:nth-child(1){
    font-weight:bolder;
}