<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-0 bg-white border-bottom shadow-sm">
    <h2 class="my-0 mr-md-auto ml-5 font-weight-normal">GO BARS</h2>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-3" href="#">HOME</a>
      <a class="p-3" href="#">SHOP</a>
      <a class="p-3" href="#">ABOUT</a>
      <a class="p-3" href="#">PRODUCTOS</a>
      <a class="p-3" href="#"><img src="../../../../assets/img/user.svg" alt=""> Log in <img src="../../../../assets/img/bolsa.svg" alt=""></a>
    </nav>
  </div>
