
<div class="container mb-5">
<div class="mt-5 ml-5 align-content-center">
    <div class="row">
      <div class="p-0 rounded-0 col-12 col-md-6">
        <img src="../../../../assets/img/new1.jpg" class="img-fluid rounded-0" alt="...">
      </div>
      <div class="tarjeta p-0 col-12 col-md-6">
        <div class="card-body">
          <h5 class="card-title mt-5">Ordena 2 playeras</h5>
          <h2>AHORRA 20%</h2>
          <div class="linea mt-5 mb-4"></div>
          <p class="card-text">Conciente a tu guardaropa, compra 2 piezas y ahorra 20% en el total de tu compra</p>
          <button class="btn btn-outline-dark rounded-0" routerLink="productos">Comprar ahora</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="tarjeta1 p-0 col-12 col-md-6">
        <div class="card-body">
          <h5 class="card-title mt-5">NUEVO PRODUCTO</h5>
          <h2>PINES METÁLICOS</h2>
          <div class="linea mt-5 mb-4"></div>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button class="btn btn-outline-dark rounded-0" routerLink="productos">Comprar ahora</button>
        </div>
      </div>
      <div class="p-0 rounded-0 col-12 col-md-6">
        <img src="../../../../assets/img/new2.png" class="card-img rounded-0" alt="...">
      </div>
    </div>
  </div>
</div>
