/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin:0px;
    padding:0px;
    font-family: 'Open Sans',sans-serif;
    scrollbar-width: none;
}
.linea {
    width: 30px;
    height: 3px;
    background: #000;
    margin: 2em 0em;
}