/* You can add global styles to this file, and also import other style files */
@import url(//db.onlinewebfonts.com/c/5520b2b875202fac53dc536bc7aca367?family=Futura);
* {
    margin:0px;
    padding:0px;
}

h1
h2
h3
h4
h5
h6{
    font-family: 'futura', sans-serif;
}