/* You can add global styles to this file, and also import other style files */
@import url(//db.onlinewebfonts.com/c/5520b2b875202fac53dc536bc7aca367?family=Futura);

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    margin:0px;
    padding:0px;
    font-family: 'futura',sans-serif;
}
