<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card mb-4 shadow-sm">

                    <img src="../../../../assets/img/galeria_1.jpg" alt="">
                </div>
            </div>
            <div class="col-3">
                <img src="../../../../assets/img/galeria_2.jpg" alt="">
            </div>
            <div class="col-3">
                <img src="../../../../assets/img/galeria_3.jpg" alt="">
            </div>
            <div class="col-3">
                <img src="../../../../assets/img/galeria_4.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="../../../../assets/img/galeria_5.jpg" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../../../assets/img/galeria_6.jpg" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../../../assets/img/galeria_7.jpg" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../../../assets/img/galeria_8.jpg" alt="">
            </div>
        </div>
    </div>
</div>