<div class="col mt-5">
  <div class="text-center">
    <h2 class="mt-5 mb-0">GALERÍA</h2>
    <p class="mt-5">Buena Vibra es un estilo de vida para gente como tú</p>
  </div>


  <div class="row text-center mt-5">

    <div class="col-lg-3 p-1 pb-0">
      <div href="#" class="d-block mb-1 bg-dark">
        <img class="img-fluid" src="../../../../assets/img/galeria_1.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 p-1">
      <div href="#" class="d-block mb-1">
        <img class="img-fluid" src="../../../../assets/img/galeria_2.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 p-1">
      <div href="#" class="d-block mb-1 ">
        <img class="img-fluid" src="../../../../assets/img/galeria_3.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 p-1">
      <div href="#" class="d-block mb-1 ">
        <img class="img-fluid" src="../../../../assets/img/galeria_4.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 p-1">
      <div href="#" class="d-block mb-1 ">
        <img class="img-fluid" src="../../../../assets/img/galeria_5.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 p-1">
      <div href="#" class="d-block mb-1 ">
        <img class="img-fluid" src="../../../../assets/img/galeria_6.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 p-1">
      <div href="#" class="d-block mb-1 ">
        <img class="img-fluid" src="../../../../assets/img/galeria_7.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 p-1 ">
      <div href="#" class="d-block mb-1 h-100">
        <img class="img-fluid" src="../../../../assets/img/galeria_8.jpg" alt="">
      </div>
    </div>

  </div>

</div>